---
# Packages not available in standard/fusion repos
#

- name: Install slack 
  become: yes
  ansible.builtin.dnf:
    name: https://downloads.slack-edge.com/desktop-releases/linux/x64/4.45.69/slack-4.45.69-0.1.el8.x86_64.rpm
    state: present
    disable_gpg_check: yes
    download_dir: /tmp/

- name: Download kubelogin tarball
  ansible.builtin.get_url:
    url: https://github.com/Azure/kubelogin/releases/download/{{ kubelogin_version }}/kubelogin-linux-amd64.zip
    dest: "/tmp/kubelogin-linux-amd64.zip"
    mode: '0644'
  when: kubelogin_bin_version != kubelogin_version
  tags:
    - cloud-tools
    - azure
    - kubernetes

- name: Ensure kubelogin destination directory exists
  ansible.builtin.file:
    path: /tmp/kubelogin-linux-amd64
    state: directory
    mode: '0755'
  tags:
    - cloud-tools
    - azure
    - kubernetes

- name: Unarchive the kubelogin zip
  ansible.builtin.unarchive:
    src: "/tmp/kubelogin-linux-amd64.zip"
    dest: /tmp/kubelogin-linux-amd64
  tags:
    - cloud-tools
    - azure
    - kubernetes

- name: Copy kubelogin cmd from archive
  become: yes
  ansible.builtin.copy:
    src: "/tmp/kubelogin-linux-amd64/bin/linux_amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: '0755'
  loop:
    - "kubelogin"