# Flatpak applications
#
---
- name: Add the Fedora Flatpak remote from registry.fedoraproject.org
  community.general.flatpak_remote:
    name: fedora
    flatpakrepo_url: "https://registry.fedoraproject.org"
    state: present
    method: system
  tags:
    - applications
    - flatpak
    - gnome
    - repos

- name: Add flathub repository
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: "https://flathub.org/repo/flathub.flatpakrepo"
    state: present
    method: system
  tags:
    - applications
    - flatpak
    - gnome
    - repos

- name: Install a Flatpak application
  community.general.flatpak:
    name: org.gnome.Extensions
    state: present
    remote: fedora
  tags:
    - applications
    - flatpak
    - gnome
    - packages

- name: Install a Podman Desktop application
  community.general.flatpak:
    name: io.podman_desktop.PodmanDesktop
    state: present
    remote: flathub
  tags:
    - applications
    - flatpak
    - gnome
    - packages
    - podman

#- name: Install TopHat Extensions
#  ansible.builtin.shell:
#    cmd: gnome-extensions install tophat
#  tags:
#    - applications
#    - flatpak
#    - gnome